<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <title>{% block title %}ReactiveSymfony{% endblock %}</title>

    <!--Fonts-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:600italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- App style -->
    <link rel="stylesheet" href="{{ asset('assets/build/css/style.css') }}"/>

</head>

<body>

    <h1 align = "center">Welcome to ReactiveSymfony 3.4 App</h1>
    <h3 align = "center">This container was made with ReactJS :)</h3>

    {% block body %}{% endblock %}

    <!--JavaScript (Mainly React, Redux and ES6 :) )-->
    <script src="{{ asset('assets/build/js/vendor.js') }}"></script>
    <script src="{{ asset('assets/build/js/app.js') }}"></script>

</body>

</html>
